 <!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title></title>
</head>
<body>
 <form action="/api/file" enctype="multipart/form-data" method="post">
 <fieldset>
<label for="title">
    Title:<br></label>
	<input type="text" name="title" placeholder="Enter the Text"><br><br><br>

    <input type="submit" value="Submit">
	</fieldset>
    </form>
	</body>
</html>